<%= form_for @chip do |f| %>
  <p>
    <%= f.label :chip_type %>
    <%= f.text_field :chip_type %>
  </p>
  <p>
    <%= f.label :main_ingredient %>
    <%= f.text_field :main_ingredient %>
  </p>
  <p>
    <%= f.submit 'Update chip' %>
  </p>
<% end %>